<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Gutenberg API</title>
</head>
<body>
    <!-- <h1>Project Gutenberg API</h1> -->
    <section>
      <div class="login-box">
        <h2>API Testing</h2>
        <form action="/api" method="POST" class="form">
          <div class="user-box">
            <input type="text" name="url" required />
            <label>URL</label>
          </div>
          <a>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <!-- Submit -->
            <input type="submit" value="SUBMIT" class="sub" />
          </a>
        </form>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col span-1-of-2">
          <ul class="social-links">
            <li>
              <a href="https://github.com/MatthewMattei" target="blank"
                ><ion-icon name="logo-github" class="github"></ion-icon
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <p class="p">
          Copyright &copy; 2022 &mdash; Matthew Mattei. <br />
          All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>